:root {
  --danger: #e9c2af;
  --normal: #c4d7f2;
  --success: #afdedc;
  --secondary: #cfd6cd;
}

body {
  transition: background-color 0.15s ease-in-out;
}

.clickable {
  filter: brightness(100%);
}

.clickable:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.custom-button {
  background-color: var(--normal);
  filter: brightness(100%);

  padding: 10px 20px;
  background-color: var(--normal);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.custom-button:hover {
  filter: brightness(70%);
}

.notice {
  background-color: rgb(255, 100, 80);
}
